<html>
<head>
  <title> templates/detail.html </title>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
</head>

  <body>
  static
<h3> \resources\static   \detail书单.html </h3>
  static
<div>
  <p>
    <strong>书名：</strong><SPAN>时间</SPAN>
  </p>
  <p>
    <strong>作者：</strong><SPAN>你的</SPAN>
  </p>
  <p>
    <strong>署名：</strong><SPAN>知道</SPAN>
  </p>
  <p>
    <strong>说明：</strong><SPAN>很好</SPAN>
  </p>
</div>


<h3> detail书单.html </h3>
<h3> detail书单.html </h3>
<h3> detail书单.html </h3>

  </body>
</html>
